<div class="row">
    <div class="col-md-8 offset-md-1">
        <h2 class="head-line title_h2 text-center">マイページ</h2>
        <p><strong class="infomation-link"><i class="far fa-user"></i>登録情報</strong>
          <%= link_to "編集する", edit_customer_path, class: "glyphicon glyphicon-pencil btn btn-warning" %>
        </p>
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <tr>
                        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
                        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
                        <td><%= @customer.postal_code %></td>
                        <td><%= @customer.address %></td>
                        <td><%= @customer.telephone_number %></td>
                    </tr>
                </tr>
            </tbody>
        </table>
        <div>
            <p><strong class="shipping-link">配送先</strong>
            <%= link_to "一覧を見る", addresses_path, class: "btn btn-info" %>
            </p>
            <p><strong class="order-link">注文履歴</strong>
            <%= link_to "一覧を見る", orders_path, class: "btn btn-info" %>
            </p>
        </div>
    </div>
</div>
