<h1>会員詳細画面</h1>
<%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
<p>顧客ID</p>
<%= @customer.id %>
<% if @customer.is_deleted == true %>
  <p>退会済み</p>
<% else %>
  <p>有効</p>
<% end %>
<p>姓</p>
<%= @customer.last_name %>
<p>名</p>
<%= @customer.first_name %>
<p>姓カナ</p>
<%= @customer.last_name_kana %>
<p>名カナ</p>
<%= @customer.first_name_kana %>
<p>メールアドレス</p>
<%= @customer.email %>
<p>郵便番号</p>
<%= @customer.postal_code %>
<p>住所</p>
<%= @customer.address %>
<p>電話番号</p>
<%= @customer.telephone_number %>
